<div class="container">

  <h1>Collaborative Reading tool for students in CSE 218 2013 Fall UCSD</h1>
  <%= form_tag cse218_sessions_path, :method=>:post, :class=>"form-signin" do %>
    <h1 class="form-signin-heading">Please sign in</h2>
    <div class="control-group">
      <%= label_tag :name , "Enter your name",  :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag "user[name]", '', :placeholder=>'Your name' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :type , "Are you a native english speaker?",  :class=>'control-label' %>
      <div class="controls">
        <%= select("user", "type", ['yes', 'no'], {}, {:class=>'selectpicker'}) %>
      </div>
    </div>

    <%= submit_tag "submit", :class=>'btn btn-primary', :style=>'margin-top: 20px'%>

  <% end %>

</div> <!-- /container -->
