<div class='row question' style='display: none' id='question_row'>
  <div class="panel panel-info" style='margin-top: 100px;'>
    <div class="panel-heading">Questionaire</div>
    <div class="panel-body">
      <%= form_tag paper_path(papers.first), :method=>'PUT' do %>
        <% papers.first.questions.each_with_index do |question, index|%>
          <div>
            <h2><%= question.question%></h2>
            <div class="input-group">
              <%= radio_button_tag "answer[#{index}]", '1'%>
              <%= question.problem1%>
            </div>

            <div class="input-group">
              <%= radio_button_tag "answer[#{index}]", '2'%>
              <%= question.problem2%>
            </div>

            <div class="input-group">
              <%= radio_button_tag "answer[#{index}]", '3'%>
              <%= question.problem3%>
            </div>

            <div class="input-group">
              <%= radio_button_tag "answer[#{index}]", '4'%>
              <%= question.problem4%>
            </div>
          </div>
        <% end %>

        <%= hidden_field_tag 'reading_time', '', :id=>'time_input' %>
        <%= submit_tag 'submit', :class=>'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
